<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".CycleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitFitFinal"
        tools:targetApi="31">
        <activity
            android:name=".fragment_list"
            android:exported="false" />
        <activity
            android:name=".ListFragment"
            android:exported="false" />
        <activity
            android:name=".DisplayEnteries"
            android:exported="false" />
        <activity
            android:name=".CyclesSummaryFragment"
            android:exported="false" />
        <activity
            android:name=".CyclesAdapter"
            android:exported="false" />
        <activity
            android:name=".CycleEntity"
            android:exported="false" />
        <activity
            android:name=".CycleDao"
            android:exported="false" />
        <activity
            android:name=".CycleApplication"
            android:exported="false" />
        <activity
            android:name=".Cycle"
            android:exported="false" />
        <activity
            android:name=".AppDatabase"
            android:exported="false" />
        <activity
            android:name=".AddFragment"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>